@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1650353330820') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouyeshouye:before {
  content: "\e606";
}

.icon-saomiao:before {
  content: "\e8d4";
}

.icon-sousuo:before {
  content: "\e86e";
}

.icon-wode:before {
  content: "\e70b";
}

.icon-xiaoxi:before {
  content: "\e60d";
}

.icon-shu:before {
  content: "\e610";
}

.icon-quanzi:before {
  content: "\e632";
}

.icon-jiankangbaike:before {
  content: "\e691";
}

.icon-huati:before {
  content: "\e61e";
}

.icon-anniu-jiantouxiangyou_o:before {
  content: "\eb8c";
}

.icon-yiliao:before {
  content: "\e7f1";
}

.icon-zhinengsiwei:before {
  content: "\e9ad";
}

.icon-chongwuxunlian:before {
  content: "\e60e";
}

